
# --- Ansible Secrets ---
**/roles/lvs/files/id_rsa
**/roles/lvs/files/id_rsa.pub

# Python
__pycache__/
*.py[cod]
*.class
.venv/
venv/
ENV/

# Ansible
*.retry
ansible.log
.ansible_cache/

# Sensitive Data (Encrypted files are okay, but plain text secrets are not)
id_ansible*
*.key
*.pem
.env

# OS specific
.DS_Store
# Docker
.docker_temp/
