apiVersion: 1
providers:
  - name: 'Cluster Monitoring'
    orgId: 1
    folder: 'Database'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards
    translations:
      - name: DS_PROMETHEUS
        uid: "prom_ds_phase5" 

