global:
  scrape_interval: 5s
  evaluation_interval: 5s  # How often to check the alert rules

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
{% for host in groups['all'] %}
      - targets: ['{{ hostvars[host].ansible_host | default(hostvars[host].inventory_hostname) }}:9100']
        labels:
          nodename: '{{ host }}' # Use a temporary label
{% endfor %}
    relabel_configs:
      - source_labels: [nodename]
        target_label: instance # Overwrite the default IP:Port instance label

  - job_name: 'mysql'
    static_configs:
{% for host in (groups['galera'] | default([]) + groups['async'] | default([])) | unique %}
      - targets: ['{{ hostvars[host].ansible_host | default(hostvars[host].inventory_hostname) }}:9104']
        labels:
          nodename: '{{ host }}'
{% endfor %}
    relabel_configs:
      - source_labels: [nodename]
        target_label: instance
