---
- name: Restart SSH
  service:
    name: ssh
    state: restarted
  become: yes

- name: Reload Systemd
  systemd:
    daemon_reload: yes
  become: yes

- name: Restart Keepalived
  service:
    name: keepalived
    state: restarted
  become: yes

- name: Restart HCIP Service
  debug:
    msg: "Legacy HCIP Service Handler - No longer used"
