---
- name: Install Node and MySQL Exporters
  apt:
    name:
      - prometheus-node-exporter
      - prometheus-mysqld-exporter
      - python3-pymysql
    state: present
    update_cache: yes
  become: yes
- name: Create MariaDB Exporter User
  community.mysql.mysql_user:
    name: "exporter"
    password: "{{ exporter_password }}"
    priv: "*.*:PROCESS,REPLICATION CLIENT,SELECT"
    state: present
    # This makes the underlying SQL 'CREATE USER IF NOT EXISTS'
    column_case_sensitive: false 
    login_unix_socket: /var/run/mysqld/mysqld.sock
  become: yes
  when: inventory_hostname in groups['galera'] or inventory_hostname in groups['async']
- name: Configure MySQL Exporter Auth
  copy:
    dest: /etc/mysql/exporter.cnf
    owner: prometheus
    group: prometheus
    mode: '0400'
    content: |
      [client]
      user=exporter
      password={{ exporter_password }}
      host=localhost
  become: yes
  when: inventory_hostname in groups['galera'] or inventory_hostname in groups['async']
- name: Set MySQL Exporter Flags
  lineinfile:
    path: /etc/default/prometheus-mysqld-exporter
    regexp: '^ARGS='
    # Ensure the path matches the 'dest' in the previous task
    line: 'ARGS="--config.my-cnf=/etc/mysql/exporter.cnf --web.listen-address=:9104"'
  become: yes
  when: inventory_hostname in groups['galera'] or inventory_hostname in groups['async']
- name: Restart and Enable Monitoring Agents
  systemd:
    name: "{{ item }}"
    state: restarted
    enabled: yes
    daemon_reload: yes
  become: yes
  loop:
    - prometheus-node-exporter
    - prometheus-mysqld-exporter
  when: inventory_hostname in groups['galera'] or inventory_hostname in groups['async']
- name: Ensure Node Exporter is active on non-DB nodes
  systemd:
    name: prometheus-node-exporter
    state: started
    enabled: yes
  become: yes
  when: inventory_hostname not in groups['galera'] and inventory_hostname not in groups['async']

