global_defs {
    router_id {{ inventory_hostname }}
    enable_script_security
    script_user root
}

vrrp_instance VI_1 {
    state MASTER
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 50
    priority 100
    advert_int 1
    nopreempt

    unicast_src_ip {{ ansible_default_ipv4.address }}
    unicast_peer {
        {% for host in groups['lvs'] %}
        {% if host != inventory_hostname %}
        {{ hostvars[host]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
    }

    virtual_ipaddress {
        {{ lvs_vip }}
    }
}

virtual_server {{ lvs_vip }} 3306 {
    delay_loop 2
    lb_algo rr
    lb_kind DR
    protocol TCP

    # Dynamically generate real_server entries for all Galera nodes
    {% for host in groups['galera'] %}
    # We only include the first two nodes as potential writers per your setup
    {% if loop.index <= 2 %}
    real_server {{ hostvars[host]['ansible_default_ipv4']['address'] }} 3306 {
        weight 1
        MISC_CHECK {
            # We pass the physical node IP to the script, which checks for the HCIP
            misc_path "/usr/local/bin/check_hcip_ssh.sh {{ hostvars[host]['ansible_default_ipv4']['address'] }}"
            misc_timeout 5
            user root
        }
    }
    {% endif %}
    {% endfor %}
}
