#!/bin/bash
PASS="{{ wsrep_sst_auth.split(':')[1] }}"

# 1. Check if MariaDB is responding
if ! mariadb -u root -p"$PASS" --connect-timeout=2 -e "status" >/dev/null 2>&1; then
    exit 1
fi

# 2. Check Galera Cluster Status
# We only care if the node is 'Synced'. 
STATE=$(mariadb -u root -p"$PASS" -N -s -e "SHOW STATUS LIKE 'wsrep_local_state_comment';" | awk '{print $2}')

if [ "$STATE" == "Synced" ]; then
    exit 0
else
    exit 1
fi
