[Unit]
Description=Galera HCIP Manager for LVS-DR
After=mariadb.service

[Service]
ExecStart=/usr/local/bin/galera_hcip_manager.sh
ExecStop=/usr/bin/ip addr del {{ hcip_value }}/32 dev dummy0
# This runs even if the script crashes or MariaDB is killed
ExecStopPost=/usr/bin/bash -c 'ip addr del {{ hcip_value }}/32 dev dummy0 || true'

Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
